### Enable/ Disable gaps
bindsym $mod+g exec swaymsg 'gaps inner all set 7 '
bindsym $mod+Shift+g exec swaymsg 'gaps inner all set 0' 

# display
bindsym --locked $mod+o  exec swaymsg 'output * dpms on'
bindsym --locked $mod+Shift+o exec swaymsg 'output * dpms off'

# toggle waybar
bindsym $mod+p exec killall -sigusr1 waybar

# toggle notificationo panel
bindsym mod1+n exec swaync-client -t

# fan profile
bindsym --locked XF86Launch4 exec asusctl profile -n
 
# Touchpad toggle
bindsym XF86TouchpadToggle exec $scripts/touchpad_toggle
