# Sleep
bindsym --locked XF86Sleep exec loginctl lock-session && sudo $scripts/suspend_fast && asusctl -k off
bindsym --locked XF86PowerOff exec loginctl lock-session && sudo $scripts/suspend_fast && asusctl -k off 

# Increase and decrease volume
#bindsym --locked XF86AudioRaiseVolume exec  amixer -M set Master 5%+ unmute | sed -En 's/.*\[([0-9]+)%\].*/\1/p' | head -1 > $WOBSOCK
#bindsym --locked XF86AudioLowerVolume exec  amixer -M set Master 5%- unmute | sed -En 's/.*\[([0-9]+)%\].*/\1/p' | head -1 > $WOBSOCK

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5% && pactl get-sink-volume @DEFAULT_SINK@ | head -n 1| awk '{print substr($5, 1, length($5)-1)}' > $WOBSOCK
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5% && pactl get-sink-volume @DEFAULT_SINK@ | head -n 1 | awk '{print substr($5, 1, length($5)-1)}' > $WOBSOCK
#Mute speakers
bindsym --locked XF86AudioMute exec amixer sset 'Master' toggle && amixer get Master | sed -En '/\[on\]/ s/.*\[([0-9]+)%\].*/\1/ p; /\[off\]/ s/.*/0/p' | head -1 > $WOBSOCK

#Mute Microphone
bindsym --locked XF86AudioMicMute exec amixer set Capture toggle && amixer get Capture | grep '\[off\]' && notify-send "MIC switched OFF" || notify-send "MIC switched ON"

# Play Pause Media
bindsym --locked XF86AudioPlay exec playerctl play-pause
bindsym --locked XF86AudioNext exec playerctl next
bindsym --locked XF86AudioPrev exec playerctl previous

#Adjust Brightness
bindsym --locked XF86MonBrightnessUp exec light -A 5 && light -G | cut -d'.' -f1 > $WOBSOCK
bindsym --locked XF86MonBrightnessDown exec light -U 5 && light -G | cut -d'.' -f1 > $WOBSOCK

# Keboard Backlight
bindsym --locked  XF86KbdBrightnessUp exec asusctl -n
bindsym --locked  XF86KbdBrightnessDown exec asusctl -p

# Screenshot
bindsym Print exec grim - |wl-copy && notify-send "Screenshot Taken Successfully"
bindsym Mod1+Print exec grim -g "$(slurp)" - | wl-copy && notify-send "Screenshot Taken Successfully"
bindsym Control+Print exec grim ~/Pictures/Screenshots/Screenshot_$(date +%F\_%T).png |wl-copy && notify-send "Screenshot Saved"
bindsym Control+Mod1+Print exec grim -g "$(slurp)" ~/Pictures/Screenshots/Snip_$(date +%F\_%T).png && notify-send "Screenshot Saved"
bindsym Mod1+Shift+Print exec grim -g "$(swaymsg -t get_tree | jq -r '.. | select(.focused?) | .rect | \(.x),\(.y) \(.width)x\(.height)')" - | wl-copy && notify-send "Successfully"
