include ./vars.sway.config


set_from_resource $name myname "john"
exec echo $name

# Screen Sharing
exec dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=sway

### Startup Scripts
exec wl-paste -t text --watch clipman store
exec wl-paste -p -t text --watch clipman store -P --histpath="~/.local/share/clipman-primary.json"
exec libinput-gestures 
exec autotiling
#exec nmcli d wifi hotspot ssid alphasquadron password zephyrus
exec amixer -M set Master 60%
# Indicator 
set $WOBSOCK /tmp/wobpipe.sock 
exec rm $WOBSOCK 
exec mkfifo $WOBSOCK
exec tail -f $WOBSOCK | wob

# Notificaton Daemon
#exec dunst
exec swaync 

# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
exec nm-applet --indicator
exec blueman-applet
exec kdeconnect-indicator

# Bitwarden
exec bitwarden

# Authentication daemon
exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 

# fan-curve
exec asusctl fan-curve -m Quiet -e true
exec asusctl -P Quiet

# Processor power state
exec sudo ryzenadj -a 6000 -b 6000 -c 6000
