include ./vars.sway.config

mode "resize" {
    # left will shrink the containers width
    # right will grow the containers width
    # up will shrink the containers height
    # down will grow the containers height
    bindsym $left resize shrink width 45px
    bindsym $down resize grow height 45px
    bindsym $up resize shrink height 45px
    bindsym $right resize grow width 45px

    # Ditto, with arrow keys
    bindsym Left resize shrink width 45px
    bindsym Down resize grow height 45px
    bindsym Up resize shrink height 45px
    bindsym Right resize grow width 45px

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
    bindsym $mod+r mode "default"
}
