#colorclass                 border      background  text      indicator   child_border
client.focused              "#124E8Ffd" "#124789fd" "#ffffff" "#fede00ff" "#124E8Ffd"
client.unfocused            "#eeeeee50" "#00000070" "#ffffff" "#000000a0" "#3287db00"
client.focused_inactive     "#3287db00" "#080808c0" "#ffffff" "#F1CF5500" "#3287db00"
client.urgent               "#FF4133c0" "#FF4133c0" "#ffffff" "#F1CF55c0" "#52AEFFa0"
client.placeholder          "#00000000" "#2c2c2c00" "#ffffff" "#00000000" "#0c0c0c00"
client.background           "#FFFFFF00"
