### Variables
#
# Super key.
set_from_resource $mod sway.mod Mod4

# Home row direction keys, like vim
set_from_resource $left sway.move_focus.left h
set_from_resource $down sway.move_focus.down j
set_from_resource $up sway.move_focus.up k
set_from_resource $right sway.move_focus.right l

# Displays
set $laptop eDP-1
set $hdmi HDMI-A-1

# Paths
set $scripts /home/soumyarp/dotfiles/scripts

# Your preferred terminal emulator
# set $term !(alacritty msg create-window) && alacritty
set_from_resource $term sway.default_apps.terminal "!(alacritty msg create-window) && alacritty"

# Your preferred application launcher
# Note: pass the final command to swaymsg so that the resulting window can be opened
# on the original workspace that the command was run on.
 #set $menu dmenu_path | dmenu | xargs swaymsg exec --
set $menu "dmenu_run -h 30 -p exec:| xargs swaymsg exec --"
set $menu2 "ilia | xargs swaymsg exec -- "
#set $menu2 "rofi -combi-modi drun,ssh,run -show combi -show-icons | xargs swaymsg exec -- "



# Workspaces
set_from_resource $ws0 sway.workspace.0.name "0: General"
set $ws1 "1: Shell"
set $ws2 "2: Dev"
set $ws3 "3: Web"
set $ws4 "4: Music"
set $ws5 "5: Mail"
set $ws6 "6: Urgent"
set $ws7 "7: Focused"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"
set $ws_d0 "1: Shell"
set $ws_d1 "0: General"
set $ws_d2 "2: Dev"


#Top / Left
set $d0 $hdmi 
#Middle
set $d1 $laptop
#Bottom / Right
#set $d2 

# Positions vars
set $d1_posx 1368
set $d1_posy 768
set $nag exec swaynagmode 
