/*
 * vim: ft=less 
 */

@define-color border-color transparent;
@define-color bg rgb(22,51,87);
/*@define-color bg rgba(18, 58, 130,0.9);*/
/*@define-color bg #122c4f;*/
@define-color bg-hover rgb(38, 88, 170);
/*@define-color bg-focus rgba(68, 68, 68, 0.6);*/
@define-color bg-focus transparent;
@define-color bg-selected rgb(0, 128, 255);

.notification-row {
  outline: none;
}
.notification-row:focus,
.notification-row:hover {
  background: @bg-focus;
}

.notification {
  border-radius: 10px;
  margin: 0px 12px;
  padding: 1px;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 5px;
}

.close-button {
  /*background: black;*/
  color: white;
  text-shadow: none;
  margin:10px 10px;
  outline: none;
  opacity: 0.8;
  background:transparent;
}
.close-button:hover {
  color: red;
  transition: all 0.15s ease-in-out;
}

.notification-default-action,
.notification-action {
  padding: 6px;
  margin: 0;
  box-shadow: none;
  background: @bg;
  border: 1px solid @border-color;
  color: white;
}

.notification-default-action:hover,
.notification-action:hover {
  background: @bg-hover;
}

.notification-default-action {
  border-radius: 5px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 5px;
}
.notification-action:last-child {
  border-bottom-right-radius: 5px;
  border-right: 1px solid @border-color;
}

.image {
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 5px;
}

.summary {
  color: white;
  text-shadow: none;
}

.time {
  color: white;
  text-shadow: none;
  padding-right: 7px;
}

.body {
  background: transparent;
  color: white;
  text-shadow: none;
}

.top-action-title {
  color: white;
  text-shadow: none;
}

.control-center-clear-all {
  color: white;
  text-shadow: none;
  background: rgb(60,85,105);
  border: 0px solid @border-color;
  box-shadow: none;
  /*border-radius: 5px;*/

}
.control-center-clear-all:hover {
  background: @bg-hover;
}

.control-center-dnd {
  border-radius: 10px;
  /*background: @bg;*/
  border: 1px solid @border-color;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @bg-selected;
}
.control-center-dnd slider {
  background: white;
}

.control-center {
  background: rgba(18,44,79,0.98);
}
.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}
